<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>公共代码复用</title>
    <link rel="stylesheet" th:href="@{../../res/layui/css/layui.css}">
</head>
<body>
<div class="layui-header" th:fragment="admin-topbar" id="admin-topbar">
    <div class="layui-logo">华软蓝楹诗社后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a>
                <!--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                <!--用户名-->
                <cite class="layui-hide-xs"><!--<span shiro:principal property="name"/>-->
                    <span th:text="${userinfo.name}"></span></cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/HRLY/userIndex}">用户中心</a></dd>
                <dd><a th:href="@{/HRLY/setting}">基本设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/User/Logout}">退了</a></li>
    </ul>
</div>
<div class="layui-side layui-bg-black"  th:fragment="admin-sidebar" id="admin-sidebar">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">社内事务</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/User/userManage}">社员管理</a></dd>
                    <dd><a th:href="@{/Event/eventManage}">社内活动/公告</a></dd>
                    <dd><a th:href="@{/Funds/manage}">社费账单</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">主题管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/Post/postManage}">全主题</a></dd>
                    <dd><a th:href="@{/Post/postManage1}">现代诗词</a></dd>
                    <dd><a th:href="@{/Post/postManage2}">古诗词</a></dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item"><a href="">排行榜</a></li>-->
        </ul>
    </div>
</div>
</body>
</html>