<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" th:href="@{../../res/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{/html/admin/common/common :: #admin-topbar}"></div>
    <div th:replace="~{/html/admin/common/common :: #admin-sidebar}"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="padding: 15px;">
            <!--搜索框-->
            <div class="layui-elem-quote">
                <p th:text="${userinfo.name}+'，欢迎回来！'"></p>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>用户搜索结果</legend>
            </fieldset>
            <div class="layui-col-md9">
                <form th:action="@{/User/userSearch}">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="sid" autocomplete="on" class="layui-input">
                        </div>
                        <button type="submit" class="layui-btn">搜索</button>
                    </div>
                </form>
            </div>
            <!--添加用户-->
            <div class="layui-col-md3">
                <a class="layui-btn" th:href="@{/User/toAdd}"><i class="layui-icon">&#xe654;</i>添加用户</a>
            </div>
            <!--数据表-->
            <table class="layui-table" id="table" lay-skin="line" lay-size="lg">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>性别</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>所属系别</th>
                    <th>邮箱</th>
                    <th>现代诗词积分</th>
                    <th>古诗词积分</th>
                    <th>用户权限</th>
                    <th>入社登录时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users.list}">
                    <td scope="row" th:text="${user.id}">1</td>
                    <td>
                        <span th:if="${user.sexual}=='0'">女</span>
                        <span th:if="${user.sexual}=='1'">男</span>
                    </td>
                    <td th:text="${user.name}">neo</td>
                    <td th:text="${user.password}">Otto</td>
                    <td th:text="${user.apartment}">Otto</td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.point1}"></td>
                    <td th:text="${user.point2}">6</td>
                    <td>
                        <span th:if="${user.position}=='0'">一般用户</span>
                        <span th:if="${user.position}=='1'">管理员</span>
                    </td>
                    <td th:text="${#dates.format(user.date,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a th:href="@{/User/userEdit(uid=${user.id})}"><i class="layui-icon">&#xe642;</i></a>
                        <!--<button type="button" class="layui-btn layui-btn-radius" id="editor">编辑</button>-->
                        <a th:href="@{/User/userDelete(uid=${user.id})}"><i class="layui-icon">&#xe640;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="layui-col-md9">
                <div style="padding: 15px">
                    <a class="layui-btn" th:href="@{/User/userSearch(sid=${sid},start=0)}">首页</a>
                    <a class="layui-btn" th:href="@{/User/userSearch(sid=${sid},start=${users.pageNum-1})}"><i
                            class="layui-icon">&#xe603;</i></a>
                    <span th:text="'第'+${users.pageNum}+'页'"></span>
                    <a class="layui-btn" th:href="@{/User/userSearch(sid=${sid},start=${users.pageNum+1})}"><i
                            class="layui-icon">&#xe602;</i></a>
                    <a class="layui-btn" th:href="@{/User/userSearch(sid=${sid},start=${users.pages})}">末页</a>
                </div>
            </div>
        </div>
        <!--<div class="layui-hide" id="table" lay-filter="test">
        </div>-->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{../../res/layui/layui.js}"></script>
<script th:src="@{../../res/jquery-3.1.1.min.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    /*layui.use('laypage', function () {
        var laypage = layui.laypage;
        laypage.render({
            elem: 'table' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 10 //数据总数，从服务端得到
        });
    });*/
</script>
</body>
</html>